TG_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
SERVER_HOST=185.23.238.20
TARGET_PORT=8443
TARGET_INBOUND_ID=7
XUI_PANEL_URL=https://185.23.238.20:80/uv16woC3N0RYv2wUak
XUI_PANEL_USER=Shakriev
XUI_PANEL_PASS=YOUR_PANEL_PASSWORD_HERE
REALITY_PUBKEY=YOUR_REALITY_PUBLIC_KEY_HERE
REALITY_SHORT_IDS=40
REALITY_SNI=aws.amazon.com
REALITY_FP=chrome
YOOKASSA_SHOP_ID=YOUR_SHOP_ID
YOOKASSA_SECRET_KEY=YOUR_SECRET_KEY
SUPPORT_USERNAME=@Ghost18274
BOT_ADMINS=123456789